.home-box-wrapper .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: #900039;
    border-color: #ab3f6a !important;
    z-index: 2;
    border-radius: 6px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}

.home-box-wrapper .border-start {
    border-color: #ab3f6a !important;
}

.home-boxes-wrapper {
    margin-top: 270px;
    z-index: 5;
}

.read-more-home {
    border-bottom: solid 3px #fff;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
    padding-right: 40px;
    text-decoration: none;
    display: inline-block;
}

.read-more-home:hover {
    color: #FFF;
}

.read-more-home span {
    width: 35px;
    height: 18px;
    background-image: url("images/arrow.png");
    position: absolute;
    top: 3px;
    right: 0px;
}

.read-more-wrapper {
    position: absolute;
    bottom: 25px;
    left: 48px;
}

.box-1:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("images/box-1.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: -1;
}

.box-2:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("images/box-2.png");
    background-repeat: no-repeat;
    z-index: -1;
    background-position: bottom right;
}

.box-3:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("images/box-3.png");
    background-repeat: no-repeat;
    background-position: top left;
    z-index: -1;
}

.box-4:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url("images/box-4.png");
    background-repeat: no-repeat;
    background-position: top left;
    z-index: -1;
}


/* section 3 */

.home-third-section-wrapper .box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ebeff2;
    z-index: 1;
}

.home-third-section-wrapper {
    margin-top: -30px;
}

.home-third-section-wrapper .left-side .box {
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

.home-third-section-wrapper .right-side {
    min-height: 835px;
    border-bottom: #9c1c4f solid 75px;
}

.home-third-section-wrapper .read-more-home {
    border-bottom: solid 3px #000;
    color: #000;
    position: relative;
    padding-bottom: 5px;
    padding-right: 40px;
}

.home-third-section-wrapper .read-more-home span {
    width: 35px;
    height: 18px;
    background-image: url("images/arrow-black.png");
}

.home-third-section-wrapper .read-more-wrapper {
    position: relative;
    left: 5px;
    top: 10px;
}


/* section 4 */

.section-4 {
    padding-top: 120px;
    padding-bottom: 150px;
    background-image: url('images/sphere.png');
    background-size: 500px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.section-4 h1 {
    color: #3b3d40;
}


/*section 5*/

.section-5 {
    background-color: #c5c5c7;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-5 h4 {
    color: #3b3b3b;
}

.section-5 .send {
    background-color: #9b1c4f;
    border-radius: 20px;
    color: #FFF;
}

#showcase {
    height: 670px;
    overflow: visible !important;
  }
  .card-home {
    cursor: pointer;
    width: 260px;
    padding: 12px;
    text-align: center;
    background-color: rgba(61, 9, 9, 0.8);
    border: 2px white dotted;
    border-radius: 12px;
  }
  .card-home h2 {
    margin: 0 0 7px 0;
  }
  .card-home a {
    font-size: 18px;
    display: block;
  }
  .card-home p {
    font-size: 15px;
  }
  .nav-home {
    width: 64px;
    height: 134px;
    color: #ccc;
    font: bold 3em "Lucida Grande";
    text-align: center;
    text-shadow: 0px 1px 0px #f5f5f5;
    background: rgba(150, 150, 150, 0.5);
    border: solid 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    position: absolute;
    top: 33%;
  }
  .nav-home:active,
  .nav-home.down {
    background: rgba(120, 120, 120, 0.5);
    border: solid 2px rgba(0, 0, 0, 0.55);
  }
  .nav-home.left {
    display:none;
  }
  .nav-home.right {
    display:none;
  }
  